@font-face {
    font-family: 'Klavika Basic';
    src: url('fonts/KlavikaBasic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Basic';
    src: url('fonts/KlavikaBasic-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Klavika Basic';
    src: url('fonts/KlavikaBasic-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika Basic';
    src: url('fonts/KlavikaBasic-BoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #373942;
  font-family: 'Klavika Basic', Fallback, sans-serif;
}

canvas {
  display: block;
  background-color: #373942;
}

.outerDiv {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #373942;  
}

.innerDiv
{
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  background-color: #373942;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    padding: 16px;
    border: 16px solid #005283;
    background-color: #EBF8FF;
    z-index:1002;
    overflow: auto;
    float:left;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.overlay_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EBF8FF;
  text-align: center;
  padding: 0.75rem 1rem;
}

.button {
	display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: #005283;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	font-family: "Helvetica Neue", Arial, sans-serif;
	cursor: pointer;
  width: 10%;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.button:disabled {
  background: #EBF8FF;
  color: #EBF8FF;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.button-icon {
	display: inline-block;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
	margin-right: 0.317rem;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
  padding: 10px;
  text-align: left;
}

.column1a {
  float: left;
  width: 30%;
  height: 100%;
  padding: 10px;
  text-align: left;
}

.column1b {
  float: left;
  width: 70%;
  height: 100%;
  padding: 10px;
  text-align: left;
}

.column2 {
  float: left;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.polaroid {
  display: block;
  width: 80%;
  background-color: #F7F7F9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  text-align: center;
  padding: 5px 5px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #623CE4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  /* background-color: #45a049; */
}

/* Add a background color and some padding around the form */
.form_container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
}

.responsive-iframe {
  padding: 12px; /* Some padding */
  text-align: center;
  position: relative;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  border: 2px dotted;
  width: 50%;
  height: 100%;
  border-color: #CCCCCC;
  border-radius: 15px;
  background: #FFFFFF;
}

  @-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }

  @keyframes spincube {
    from,to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }
    33% {
      -moz-transform: rotateY(-90deg) rotateZ(90deg);
      -ms-transform: rotateY(-90deg) rotateZ(90deg);
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      -moz-transform: rotateY(-180deg) rotateZ(90deg);
      -ms-transform: rotateY(-180deg) rotateZ(90deg);
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      -moz-transform: rotateY(-270deg) rotateX(90deg);
      -ms-transform: rotateY(-270deg) rotateX(90deg);
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }
  
 
   .cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
  }

  .cubespinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    line-height: 120px;
    text-align: center;
    font-size: 100px;
  }

  .cubespinner .face1 {
    -webkit-transform: translateZ(60px);
    -moz-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
    -webkit-backface-visibility: hidden;
  }
  .cubespinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) translateZ(60px);
    transform: rotateY(90deg) translateZ(60px);
    -webkit-backface-visibility: hidden;
  }
  .cubespinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -webkit-backface-visibility: hidden;
  }
  .cubespinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -webkit-backface-visibility: hidden;
  }
  .cubespinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -webkit-backface-visibility: hidden;
  }
  .cubespinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(60px);
    -moz-transform: rotateX(-90deg) translateZ(60px);
    -ms-transform: rotateX(-90deg) translateZ(60px);
    transform: rotateX(-90deg) translateZ(60px);
    -webkit-backface-visibility: hidden;
  }