<h1>Upload IaC Artifact and Trigger Build</h1>
<div class="row">
    <div class="column">
        <p>Prepare the desired attributes for the upload.</p>
        <pre><code class="shell">
            cat << EOF > config_ver.json
            {
              "data": {
                "type": "configuration-versions",
                "attributes": {
                  "auto-queue-runs": false
                }
              }
            }
            EOF
        </code></pre>
        <p>Request and Upload URL from Terraform</p>
        <pre><code class="shell">
            UPLOAD_URL=$(curl -s \
            --header "Authorization: Bearer $(TFE_TOKEN)" \
            --header "Content-Type: application/vnd.api+json" \
            --request POST \
            --data @config_ver.json \
            $(TFE_HOST)/api/v2/workspaces/$WORKSPACE_ID/configuration-versions \
            | jq -r '.data.attributes."upload-url"')       
        </code></pre>

        <p>Upload content</p>
        <pre><code class="shell">
            curl \
              --header "Content-Type: application/octet-stream" \
              --request PUT \
              --data-binary @$UPLOAD_FILE_NAME "$UPLOAD_URL"        
        </code></pre>
    </div>

    <div class="column">
        <pre><code class="shell">
            curl \
              --header "Content-Type: application/octet-stream" \
              --request PUT \
              --data-binary @$UPLOAD_FILE_NAME "$UPLOAD_URL"        
        </code></pre>
        <div class="polaroid">
            <img src="img/network_05.png" alt="Generic picture">
            <div class="container">
                <p>Prepare Target Platform Access Credentials</p>
            </div>
        </div>

    </div>

</div>